/* Global CSS <style></style> */
* {
  box-sizing: border-box;
  font-family: Arial, serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #333;
  color: white;
}

#navbar .logo {
  padding: 0.5rem 0;
}

#navbar .navbar-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#navbar .navbar-nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

#navbar .navbar-nav ul li {
  margin: 0 1rem;
}

#navbar .navbar-nav ul li a {
  color: white;
}

#navbar .navbar-nav ul li:first-child {
  font-size: 0.8rem;
}

.login {
  margin-top: 2rem;
  background-color: #f4f4f4;
  height: 200px;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.login h1 {
  margin-bottom: 2rem;
}

.loader-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loader-wrap .loader {
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid rgb(85,85,85);
  width: 50px;
  height: 50px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form {
  margin-top: 50px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 40vw;
  border: 1px dotted black;
}

form > * {
  display: block;
  margin: 0.3rem 0;
}

form > input[type="text"],
form > input[type="email"] {
  height: 2rem;
}

.padding-1y {
  padding: 1rem 0;
}

.padding-05y {
  padding: 0.5rem 0;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

input[type="email"],
input[type="text"],
input[type="date"],
textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="email"],
input[type="text"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 1px solid #ff974c;
  outline: 0;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input[type="submit"],
input[type="button"]{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input[type="submit"] .button-primary,
input[type="button"] .button-primary {
  color: #fff;
  background-color: #ff974c;
  border-color: #ff974c;
}

button {
  display: inline-block;
  height: 20px;
  padding: 0px 10px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.logout {
  color: #f5c6cb;
}

.edit {
  background-color: #ffa600;
  color: white;
}

.delete {
  background-color: #721c24;
  color: white;
}

/* Transition effects add/delete using react-transition-group */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}