<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Contact Tracer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script src="built/bundle.js"></script>
</body>
</html>